@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import "bulma/sass/utilities/initial-variables.sass";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "flatpickr/dist/flatpickr.css";

$family-robot-flex: 'Roboto Flex', sans-serif;
$family-primary: $family-robot-flex;

/* Perfect scrollbar */
.ps {
  height: calc(100vh - 3.25rem);
}

/* Hides default browser scrollbar*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

@import 'bulma/bulma.sass';
@import '@creativebulma/bulma-collapsible';